body{
    color: white;
    height: 150px;
}
p{
    font-size: 25px;
    display: flex;
    justify-content: flex ;
}
h1{
    text-align: center;
}
  .idk123{
      border: 3px solid linear-gradient(120deg,aqua,lightgreen);
      border-radius: 3px;
  }
  .full-screen {
    position: absolute;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .full-screen_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
